<%if (inviteLinks) {%>
<div class="table-container">
    <div class="table-header">
        Ссылки приглашения
    </div>
    <div class="table-body">
        <table class="main-table">
            <thead>
            <tr>
                <td>№</td>
                <td>Имя</td>
                <td>ссылка</td>
            </tr>
            </thead>
            <tbody>
            <%i=1;%>
            <%inviteLinks.forEach((element) => {%>
                <tr>
                    <td><%=i%></td>
                    <td><%=element.name%></td>
                    <td><a href="/invite/<%=element.link%>"><%=element.link%></a></td>
                    <td><span class="icons" onclick="removeLink('/user/invitelink/<%=element.link%>')">&#xF1F8;</span></td>
                </tr>

            <%i++;
            });%>
            <tr>
                <form method="post" action="/user/invitelink">
                    <td colspan="2"><input name="name" placeholder="Имя человека" class="beaut-input"></td>
                    <td colspan="2"><button class="beaut-button">Добавить ссылку</button></td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<%}%>