<!DOCTYPE html>
<html lang="ru">
<% title = 'Склад ИС'; links=['/css/table.css']; location=''%>
<%- include('../templates/head');%>
<body>
<%- include('../templates/aside')%>
<div class="workspace">
    <%- include('../templates/nav')%>
    <main>
        <%- include('../tables/table')%>
    </main>
    <%- include('../templates/footer')%>
</div>
</body>
</html>